In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
data=pd.read_csv("C:\\Users\\shrey\\Downloads\\Assignment\\Basic Statistics Level-1\\Q9_b.csv")
data.head()

   Unnamed: 0          SP         WT
0           1  104.185353  28.762059
1           2  105.461264  30.466833
2           3  105.461264  30.193597
3           4  113.461264  30.632114
4           5  104.461264  29.889149

In [6]:
data1=data.iloc[:,1:]
data1.head()

           SP         WT
0  104.185353  28.762059
1  105.461264  30.466833
2  105.461264  30.193597
3  113.461264  30.632114
4  104.461264  29.889149

In [7]:
# Calculating Skewness
data1.skew()

SP    1.611450
WT   -0.614753
dtype: float64

In [8]:
#Skewness Inference: 
# 1. SP distribution is Right skewed (Positive skewness) 
# 2. WT distribution is Left skewed (Negative skewness)

In [9]:
# Calculating Kurtosis
data1.kurt()

SP    2.977329
WT    0.950291
dtype: float64

In [10]:
# Kurtosis Inference: 
# Both SP and WT distributions are leptokurtic (have positive kurtosis)